.content__inputs > label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.content__inputs label > * {
    padding: 5px;
    width: 75%;
    border-radius: 20px;
    border: 1px solid green;
}

.content__btns {
    display: flex;
    justify-content: space-evenly;
}

.content__btns button {
    border: none;
    background: none;
    text-transform: uppercase;
    text-decoration: underline;
    color: lightblue;
}

.content__submit {
    margin: 3px;
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    color: #FFF;
    background: lightgreen;
    text-transform: uppercase;
}

.content__submit:hover {
    text-decoration: underline;
}
