.app {
  margin: 0 auto;
  padding: 15px 0;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app h1{
  padding-bottom: 14px;
}
.btn {
  padding: 5px 25px;
  background: transparent;
  border: 2px solid #4caf50;
  border-radius: 4px;
}
.btn:hover{
  border: 2px solid #4caf90;
}
